AIMS_VERSION={{AIMS_VERSION}}

AIMS_COMPOSE_PROJECT={{AIMS_COMPOSE_PROJECT}}
AIMS_HTTP_PORT={{AIMS_HTTP_PORT}}
AIMS_POSTGRES_VOLUME={{AIMS_POSTGRES_VOLUME}}

APP_HOST=0.0.0.0
APP_PORT=3000

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=aims
DATABASE_USER=aims
DATABASE_PASSWORD={{DATABASE_PASSWORD}}
DATABASE_MAX_CONNECTIONS=5

RUST_LOG=backend=info,tower_http=info

SESSION_LIFETIME_DAYS=30
SESSION_COOKIE_NAME=session
SESSION_COOKIE_SECURE=false