APP_HOST=
APP_PORT=
AIMS_VERSION=

POSTGRES_PASSWORD=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_MAX_CONNECTIONS=

RUST_LOG=

SESSION_LIFETIME_DAYS=
SESSION_COOKIE_NAME=
SESSION_COOKIE_SECURE=